<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Generador Censo{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block static_content %}

    {% endblock %}
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Censo de Generadores en la Provincia de Loja</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center py-3">
        <p>&copy; 2025 Censo de Generadores</p>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
